<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519395440724-of9mvi9ja6mlc4tc4j0cok5fiq8qd96q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519395440724-of9mvi9ja6mlc4tc4j0cok5fiq8qd96q</string>
	<key>API_KEY</key>
	<string>AIzaSyDSON9grekSqTa9avNSP_9ULnzjfSIH2_4</string>
	<key>GCM_SENDER_ID</key>
	<string>519395440724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labinfo</string>
	<key>PROJECT_ID</key>
	<string>labinfo-1def4</string>
	<key>STORAGE_BUCKET</key>
	<string>labinfo-1def4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519395440724:ios:7e1dc9f9e269c3c199d5c1</string>
</dict>
</plist>